html{
    scroll-behavior: smooth;
}
.container__scroll{
    background-color: transparent;
    border: 0;
    bottom: 5rem;
    cursor: pointer;
    display: none;
    font-family: var(--basic-font);
    font-size: 1rem;
    font-weight: 800;
    position: fixed;
    right: 5rem;
    z-index: 99;
}