
header{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem 0;
    align-items: center;
}

header img{
    width: 150px;
    height: 45px;
    cursor: pointer;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: white;
    margin: 0 1rem;
    font-weight: bold;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #FFE600;
}

nav ul li .item{
    color: #FFE600;
}

nav button{
    border: 1px solid #FFE600;
    background: transparent;
    height: 4.5vh;
    width: 10vw;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor:pointer;
    transition: 0.5s;
}

nav button:hover{
   background-color: #FFE600;
   color: black;
}

.hero-image {
    height: 100vh;
    background-color: gray;
    background-size: cover;
    opacity: 100%;
    margin: 0;
    position: relative;
    background-image: url('../banner.svg');
}

.hero-text {
    margin: 17rem 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.hero-text .title {
    font-weight: 700;
    font-size: 22px;
    color: #FFE600;
    margin: 0.55rem 0;
}

.hero-text .title span {
    color: #fff;
}

.hero-text .paragraph {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    width: 900px;
    margin: 0.55rem 0;
    display: flex;
    align-items: center;
}

.hero-text .details {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.hero-text .details span:nth-child(1) {
    margin-right: 1rem;
}

.hero-text .details span:nth-child(2) {
    display: flex;
    align-items: center;
    margin-right: 0.55rem;
}

.hero-text .details span:nth-child(2) img {
    margin: 0 .4rem;
}

.hero-text .details span:nth-child(3) {
    display: flex;
    align-items: center;
}

.hero-text .details span:nth-child(3) img {
    margin: 0 .4rem;
}

.hero-text button {
    width: 130px;
    height: 32px;
    border: 1px solid #FFE600;
    border-radius: 24px;
    background-color: transparent;
    margin: 0.55rem 0;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

.hero-text button:hover {
    background-color: #FFE600;
    color: black;
}

/* aqui cmea o footer */
footer {
    width: 100%;
    background-color: #2e2d2d;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-content {
    width: 76vw;
    margin: 0 auto;
}

footer .footer-cima {
    display: flex;
}

footer .footer-links {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}

footer .footer-logo {
    display: flex;
    margin-bottom: 10px;
}

footer .footer-link a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.15rem;
    font-weight: 600;
}

footer .footer-link a:hover {
    color: #FFE600;
}

.footer-links-baixo {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 600;
    width: 76vw;
    margin: 0.55rem auto;

}

.footer-links-baixo a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin: 0.55rem 0;
}

.footer-links-baixo a:hover {
    color: #FFE600;
}

.footer-copyright p {
    color: #fff;
    font-size: small;
    margin: 1rem 0;
    width: 75vw;
}

/*Fernando code page 2*/
.page-2-buttons a {
    width: 130px;
    height: 32px;
    margin: 0.55rem 0;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.page-2-buttons a span {
    color: #FFE600;
}